<header id="header">
    <div id="navbar" class="navbar">
        <a id="nav-logo" href="/" target="" class="nav-logo">
            <img src="/assets/images/logo.png" alt="Arizona Game and Fish">
        </a>
        <nav id="nav" class="container">
            <ul>
                <li id="conserve-and-protect">
                    <a class="" href="/conserve-and-protect" target="">
                        Conserve & Protect
                    </a>
                </li>
                <li id="stories">
                    <a class="" href="/stories" target="">
                        Stories
                    </a>
                </li>
                <li id="our-experts">
                    <a class="" href="/our-experts" target="">
                        Our Experts
                    </a>
                </li>
                <li id="programs">
                    <a class="" href="/programs" target="">
                        Programs
                    </a>
                </li>
                <li id="donate">
                    <button type="button" name="donate" class="btn btn-primary">
                        Donate
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>