<footer id="footer">
    <div class="container">
        <app-sign-up></app-sign-up>

        <div class="social-icons">
            <ul>
                <li>
                    <a href="" target="_blank">
                        <img class="social-icon" alt="Facebook Social Icon" src="/assets/images/facebook.png">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-icon" alt="Twitter Social Icon" src="/assets/images/twitter.png">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-icon" alt="YouTube Social Icon" src="/assets/images/youtube.png">
                    </a>
                </li>
            </ul>
        </div>

        <div class="copyright">
            <p>
                Looking for information on licenses, recreation and AZGFD news?
                <a href="" target="_blank"> Visit our main site »</a>
            </p>
            <p>
                Copyright © 2018, Arizona Game and Fish Department. All rights reserved.
                <a href="" target="_blank">Privacy Policy »</a>
            </p>
        </div>

    </div>
</footer>