#footer {
    margin-bottom: 10px;
}

.social-icons {
    float: right;
    padding-top: 5px;
}

.social-icons ul>li {
    display: inline-block;
    list-style-type: none;
}

.social-icon {
    padding: 10px;
}

.copyright {
    float: left;
    padding-top: 5px;
    margin-bottom: 10px;
}

.copyright p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px;
    color: #a75c2e;
}

.copyright p a{
    color: #a75c2e;
}