<app-header></app-header>
<main id="main">
    <div class="container">
        <div id="top-content">
            <div id="top-card" class="text-center">
                <div class="hr-divider"></div>
                <h1>To Conserve & Protect</h1>
                <div class="hr-divider"></div>
                <div>
                    <p>
                        Arizona Game and Fish Department manages more than 800 species of wildlife,
                        preserving these incredible animals for future generations.
                    </p>
                </div>
                <button id="our-mission" type="button" class="btn btn-primary">Our Mission</button>
            </div>
        </div>
        <div id="cards">
            <div id="middle-card" class="cards text-center">
                <div id="leaf-icon">
                    <img alt="Leaf Icon" src="/assets/images/leaf-icon.png">
                </div>
                <div class="hr-divider"></div>
                <h1>Success Stories</h1>
                <div class="hr-divider"></div>
                <div>
                    <p>
                        From restoring populations to creating safer habitats, see how we’re making a difference.
                    </p>
                </div>
                <button id="read" type="button" class="btn btn-primary">Read Our Stories</button>
            </div>
            <div id="left-card" class="cards text-center">
                <div class="opacity">
                    <div id="bird-icon">
                        <img alt="Bird Icon" src="/assets/images/bird-icon.png">
                    </div>
                    <div class="hr-divider"></div>
                    <h1>Wildlife Programs</h1>
                    <div class="hr-divider"></div>
                    <div>
                        <p>
                            lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                        </p>
                    </div>
                    <button id="learn-more" type="button" class="btn btn-primary">Learn More</button>
                </div>
            </div>
            <div id="right-card" class="cards text-center">
                <div class="opacity">
                    <div id="butterfly-icon">
                        <img alt="Butterfly Icon" src="/assets/images/butterfly-icon.png">
                    </div>
                    <div class="hr-divider"></div>
                    <h1>How to Help</h1>
                    <div class="hr-divider"></div>
                    <div>
                        <p>
                            Support Arizona Game and Fish and help us create more happy endings for Arizona wildlife.
                        </p>
                    </div>
                    <button id="donate" type="button" class="btn btn-primary">Donate</button>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>